**/.svelte-kit/
**/build/
**/.DS_Store
**/._*
dcpy
wip.txt
filedump.txt
**/target/
**/*.bak
node_modules/
mocks/marketplace/node_modules/
core/**/*.exe
core/**/*.out
core/**/*.bin
core/maccs
mocks/*/node_modules/
mocks/*/.env
fridge/**/target/
mocks/consumer-java/target/
mocks/producer-java/target/
*.log
*.pyc
*.jar
*.zip
__pycache__/
.env
test/